#login
{
    margin: 0;
    padding: 0;
    /*background: url(../../assets/layout_login.png);*/
    background-size: cover;
    font-family: Sans-serif;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.loginBox
{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}

.camera
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 12%;
    left: 50%;
}

.car
{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 5%;
    top: 48%;
}
h2
{
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
}

.loginBox p
{
    margin: 0;
    padding: 0; 
    font-weight: bold;
    color: #fff;

}
.loginBox input
{
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:#fff;
    font-size: 16px;
}

.loginBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #f6faf4;
    cursor: pointer;
    border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
    background: #f3f3ee;
    color: #fff;

}
.loginBox a
{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
