#login{
    margin: 0;
    padding: 0;
    background: url(../../assets/transito.jpeg);
    background-size: cover;
    font-family: Sans-serif;
    height: 100%;
    filter: contrast(200%);
}
.loginBox{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 450px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5)
;
}
h2{
    color: #ffffff;
}

